@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

body {
  font-family: Red hat Display, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.back {
  background: url(assets/background.svg) no-repeat top;
  background-size: cover;
}

.nav-element {
  @apply p-3 text-lg  rounded-full hover:bg-gray-200;
}

.nav-element-active {
  @apply p-3 text-lg  rounded-full bg-gray-200;
}
